.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EED7C5;
}

.nav-list li {
    display: inline;
    float: left;
    font-family: 'Archivo', sans-serif;
}

.nav-list li a {
    display: block;
    color: #B36A5E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

.nav-list li a:hover {
    background-color: #C89F9C;
}

body {
    background-color: #EEE2DF;
    margin: 0px;
    font-family: 'Archivo', sans-serif;
}

h1 {
    color: #B36A5E;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}


h2 {
    color: #B36A5E;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    color: #B36A5E;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

