body {
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
    background: linear-gradient(-50deg, #A58CB3, #838BC2, #EAE7FA);
    background-size: 200% 200%;
    animation: gradient 25s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }
    25% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    opacity: 50%;
    border-radius: 40px;
    -webkit-box-shadow:0px 0px 85px 10px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 85px 10px rgb(0, 0, 0);
    box-shadow: 0px 0px 85px 10px rgb(0, 0, 0);
}

.nav-list li {
    display: inline;
    float: left;
    font-family: 'Archivo', sans-serif;
}

.nav-list li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

.nav-list li a:hover {
    background-color: #4e4cb7;
    opacity: 80%;
    transition: 0.3s;
}

.content {
    text-align: center;
    color: #ffffff;
    font-size: larger;
    padding: 30px;
    line-height: 150%;
    font-family: 'Archivo', sans-serif;
}

h1 {
    color: #ffffff;
    font-weight: 500;
    font-size:40px;
    text-align: center;
    padding-bottom: 30px;
    -webkit-text-shadow:0px 0px 85px 10px rgb(0, 0, 0);
    -moz-box-text: 0px 0px 85px 10px rgb(0, 0, 0);
    text-shadow: 0px 0px 85px 10px rgb(0, 0, 0);
    font-family: 'Archivo', sans-serif;
}

p {
    float:center;
}

.content img {
    padding: 30px;
}

hr {
    border: 5px solid #C89F9C;
    border-radius: 5px;
  }