html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,theafd,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
body{
    -webkit-text-size-adjust:none
}
mark{
    background-color:transparent;
    color:inherit
}
input::-moz-focus-inner{
    border:0;
    padding:0
}
input[type="text"],input[type="email"],select,textarea{
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    appearance:none
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body:before {
    content: '';
    display: block;
    background-attachment: scroll;
    height: var(--background-height);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 100vw;
    z-index: 0;
}
body:after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: scale(1);
    transition: opacity 2s ease-in-out 0s, visibility 2s 0s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
body.is-loading:after {
    opacity: 1;
    visibility: visible;
}
:root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --viewport-height: 100vh;
}
html {
    font-size: 13pt;
}
u {
    text-decoration: underline;
}
strong {
    color: inherit;
    font-weight: bolder;
}
em {
    font-style: italic;
}
code {
    background-color: rgba(144,144,144,0.25);
    border-radius: 0.25em;
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    text-indent: 0;
}
mark {
    background-color: rgba(144,144,144,0.25);
}
spoiler-text {
    -webkit-text-stroke: 0;
    background-color: rgba(32,32,32,0.75);
    text-shadow: none;
    text-stroke: 0;
    color: transparent;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
spoiler-text.active {
    color: #FFFFFF;
    cursor: text;
}
s {
    text-decoration: line-through;
}
sub {
    font-size: smaller;
    vertical-align: sub;
}
sup {
    font-size: smaller;
    vertical-align: super;
}
a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.25s ease;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 1rem 1rem 1rem 1rem;
}
#main {
    --alignment: var(--site-language-alignment);
    --flex-alignment: var(--site-language-flex-alignment);
    --indent-left: var(--site-language-indent-left);
    --indent-right: var(--site-language-indent-right);
    --border-radius-tl: 1.5rem;
    --border-radius-tr: 1.5rem;
    --border-radius-br: 1.5rem;
    --border-radius-bl: 1.5rem;
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
    background-color: #000000;
    box-shadow: 0rem 0.875rem 2rem 0rem rgba(0,0,0,0.071);
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    transition: opacity 1s ease 0s,transform 1s ease 0s;
}
#main > .inner {
    --padding-horizontal: 2rem;
    --padding-vertical: 2rem;
    --spacing: 1.5rem;
    --width: 32rem;
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
#main > .inner > * {
    margin-top: 5px;
    margin-bottom: 5px;
}
#main > .inner > :first-child {
    margin-top: 0 !important;
}
#main > .inner > :last-child {
    margin-bottom: 0 !important;
}
#main > .inner > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
    width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}
#main > .inner > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-top: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
}
#main > .inner > .full.screen {
    border-radius: 0 !important;
    max-width: 100vw;
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    right: auto;
}
body.is-loading #main {
    opacity: 0;
    transform: scale(0.9875);
}
body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > * {
    transition: none !important;
}
body.is-instant:after {
    display: none !important;
    transition: none !important;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}
.icons li {
    position: relative;
    z-index: 1;
}
.icons li a {
    align-items: center;
    display: flex;
    justify-content: center;
}
.icons li a svg {
    display: block;
    position: relative;
}
.icons li a + svg {
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.icons li a .label {
    display: none;
}
#icons02 {
    justify-content: flex-start;
    font-size: 0.5em;
    gap: 0.375rem;
}
#icons02:not(:first-child) {
    margin-top: 0rem !important;
}
#icons02:not(:last-child) {
    margin-bottom: 0rem !important;
}
#icons02 li a {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}
#icons02 li a svg {
    height: 60%;
    width: 60%;
    transition: fill 0.25s ease;
}
#icons02 a {
    background-color: #FFFFFF;
    box-shadow: 0rem 0rem 3rem 0.25rem transparent;
}
#icons02 a svg {
    fill: #FFFFFF;
}
#icons02:hover a svg {
    opacity: 1 !important;
}
#icons02 .n01 {
    background-color: #FE5F57;
}
#icons02 .n01 svg {
    fill: #990000;
    opacity: 0;
}

#icons02 .n02 {
    background-color: #FEBC2E;
}
#icons02 .n02 svg {
    fill: #985601;
    opacity: 0;
}

#icons02 .n03 {
    background-color: #29C53F;
}
#icons02 .n03 svg {
    fill: #036200;
    opacity: 0;
}
ul#icons02 {
    width: fit-content;
}
#icons01 {
    justify-content: center;
    font-size: 1.125em;
    gap: 1rem;
}
#icons01:not(:first-child) {
    margin-top: 0rem !important;
}
#icons01:not(:last-child) {
    margin-bottom: 0rem !important;
}
#icons01 li a {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}
#icons01 li a svg {
    height: 60%;
    width: 60%;
    transition: fill 0.25s ease;
}
#icons01 a {
    background-color: #5984e8;
}
#icons01 a svg {
    fill: #000000;
}
#icons01 a:hover {
    background-color: #FFFFFF !important;
}
#icons01 li a + svg {
    transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}
#icons01 li a:hover {
    transform: translateY(-6%);
}
#icons01 li a:hover + svg {
    transform: translateY(-6%);
}
h1, h2, h3, p {
    direction: var(--site-language-direction);
    position: relative;
}
h1 span.p, h2 span.p, h3 span.p, p span.p {
    display: block;
    position: relative;
}
h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark, h1 spoiler-text, h2 spoiler-text, h3 spoiler-text, p spoiler-text {
    -webkit-text-fill-color: currentcolor;
}
#text06 {
    color: #68aed9;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 2;
    font-weight: 500;
}
#text06 mark {
    color: #4D4D4D;
    background-color: transparent;
}
#text06 a {
    text-decoration: underline;
}
#text06 a:hover {
    text-decoration: none;
}
#text06 span.p:nth-child(n + 2) {
    margin-top: 0rem;
}
#text01:not(:first-child) {
    margin-top: 0rem !important;
}
#text01:not(:last-child) {
    margin-bottom: 0rem !important;
}
#text01 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.175rem;
    width: 100%;
    font-size: 3.625em;
    line-height: 1.125;
    font-weight: 600;
}
#text01 mark {
    color: #0019FF;
    background-color: transparent;
}
#text01 a {
    text-decoration: underline;
}
#text01 a:hover {
    text-decoration: none;
}
#text01 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
#text02:not(:first-child) {
    margin-top: 0rem !important;
}
#text02:not(:last-child) {
    margin-bottom: 0rem !important;
}
#text02 {
    color: #919191;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 2;
    font-weight: 400;
}
#text02 mark {
    color: #4D4D4D;
    background-color: transparent;
}
#text02 a {
    text-decoration: underline;
}
#text02 a:hover {
    text-decoration: none;
}
#text02 span.p:nth-child(n + 2) {
    margin-top: 1rem;
}
.buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}
.buttons li {
    max-width: 100%;
}
.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
#buttons01 {
    gap: 0.75rem;
    flex-direction: row;
    flex-wrap: wrap;
}
#buttons01:not(:first-child) {
    margin-top: 1rem !important;
}
#buttons01:not(:last-child) {
    margin-bottom: 1rem !important;
}
#buttons01 li a {
    display: inline-block;
    width: 100vw;
    height: 2.5rem;
    line-height: calc(2.5rem - 2px);
    padding: 0 1.25rem;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border-radius: 2rem;
    direction: var(--site-language-direction);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}
#buttons01 .button {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
}
#buttons01 .button:hover {
    border-color: #6f4bd2 !important;
    color: #6f4bd2 !important;
}
.image {
    display: block;
    line-height: 0;
    max-width: 100%;
    position: relative;
}
.image .frame {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    width: 100%;
}
.image .frame img {
    border-radius: 0 !important;
    max-width: 100%;
    vertical-align: top;
    width: inherit;
}
.image.full .frame {
    display: block;
}
.image.full:first-child .frame {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.image.full:last-child .frame {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#image01:not(:first-child) {
    margin-top: 2.125rem !important;
}
#image01:not(:last-child) {
    margin-bottom: 2.125rem !important;
}
#image01 .frame {
    width: 100vw;
    height: 11.625rem;
    transition: none;
}
#image01 img {
    height: 100% !important;
    object-fit: cover;
    object-position: center;
    width: 100% !important;
}
#image01 .frame img {
    transition: none;
}
.icc-credits {
    display: block;
    opacity: 1 !important;
    position: relative;
    transition-delay: 0s !important;
}
.icc-credits span {
    border-radius: 24px;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1;
    position: relative;
    text-decoration: none;
    width: auto;
}
.icc-credits span a {
    display: inline-block;
    padding: 0.5em 0.375em;
    position: relative;
    text-decoration: none;
    transition: color 0.25s ease, transform 0.25s ease;
    z-index: 1;
}
.icc-credits span a:before {
    content: '( ';
    opacity: 1;
    transition: opacity 0.25s ease;
}
.icc-credits span a:after {
    content: ' )';
    opacity: 1;
    transition: opacity 0.25s ease;
}
.icc-credits span::after {
    background-image: linear-gradient(30deg, #A464A1 15%, #3B5DAD 85%);
    border-radius: inherit;
    box-shadow: 0 0.25em 1.25em 0 rgba(0,0,0,0.25);
    content: '';
    display: block;
    height: calc(100% + 2px);
    left: -1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -1px;
    transition: opacity 0.25s ease, box-shadow 0.25s ease, transform 0.25s ease;
    width: calc(100% + 2px);
}
.icc-credits span:hover {
    text-transform: none !important;
}
.icc-credits span:hover a {
    color: #ffffff !important;
    transform: scale(1.1) translateY(-0.05rem);
}
.icc-credits span:hover a:before {
    opacity: 0;
}
.icc-credits span:hover a:after {
    opacity: 0;
}
.icc-credits span:hover::after {
    opacity: 1;
    transform: scale(1.1) translateY(-0.05rem);
}
#credits span {
    color: rgba(145,145,145,0.498);
    margin-top: 1.5rem !important;
    text-transform: lowercase;
}
@media (max-width: 1920px) {
}
@media (max-width: 1680px) {
    html {
        font-size: 9pt;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 9pt;
    }
}
@media (max-width: 1024px) {
}
@media (max-width: 980px) {
    html {
        font-size: 8pt;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 12pt;
    }
    #main > .inner {
        --padding-horizontal: 1rem;
        --padding-vertical: 1rem;
        --spacing: 0rem;
    }
    #icons02 {
        font-size: 0.5em;
        gap: 0.375rem;
    }
    #icons02:not(:first-child) {
        margin-top: 0.5rem !important;
    }
    #icons02:not(:last-child) {
        margin-bottom: 0.5rem !important;
    }
    #icons01 {
        font-size: 0.875em;
        gap: 0.625rem;
    }
    #icons01:not(:first-child) {
        margin-top: 0rem !important;
    }
    #icons01:not(:last-child) {
        margin-bottom: 0rem !important;
    }
    #text06:not(:first-child) {
        margin-top: 0rem !important;
    }
    #text06:not(:last-child) {
        margin-bottom: 0rem !important;
    }
    #text06 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.625em;
        line-height: 1;
    }
    #text01:not(:first-child) {
        margin-top: 0.5rem !important;
    }
    #text01:not(:last-child) {
        margin-bottom: 0rem !important;
    }
    #text01 {
        letter-spacing: -0.153125rem;
        width: 100%;
        font-size: 2em;
        line-height: 1;
    }
    #text02:not(:first-child) {
        margin-top: 0rem !important;
    }
    #text02:not(:last-child) {
        margin-bottom: 0rem !important;
    }
    #text02 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 0.625em;
        line-height: 2;
    }
    #buttons01 {
        gap: 0.75rem;
    }
    #buttons01:not(:first-child) {
        margin-top: 0.75rem !important;
    }
    #buttons01:not(:last-child) {
        margin-bottom: 0.75rem !important;
    }
    #buttons01 li a {
        letter-spacing: 0rem;
        font-size: 1em;
    }
    #image01:not(:first-child) {
        margin-top: 1.59375rem !important;
    }
    #image01:not(:last-child) {
        margin-bottom: 1.59375rem !important;
    }
    #image01 .frame {
        height: 9.6875rem !important;
    }
    #image01 img {
        height: 100% !important;
        object-fit: cover;
        object-position: center;
        width: 100% !important;
    }
}
@media (max-width: 480px) {
    #main > .inner {
        --spacing: 1.3125rem;
    }
    #buttons01 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #buttons01 li a {
        max-width: 100%;
        width: 100%;
    }
    #image01 .frame {
        height: 7.75rem !important;
    }
}
@media (max-width: 360px) {
    #main > .inner {
        --padding-horizontal: 0.75rem;
        --padding-vertical: 0.75rem;
        --spacing: 1.125rem;
    }
    #icons02 {
        gap: 0.28125rem;
    }
    #icons01 {
        gap: 0.46875rem;
    }
    #text06 {
        font-size: 0.625em;
    }
    #text01 {
        font-size: 2em;
    }
    #text02 {
        font-size: 0.625em;
    }
    #buttons01 {
        gap: 0.5625rem;
    }
    #image01 .frame {
        height: 6.78125rem !important;
    }
}
