.inlinecode_pendingReview__2eSBa {
  position:absolute;
  top:8px;
  right:8px;
  -webkit-transform:translate(0);
  -moz-transform:translate(0);
  transform:translate(0);
  background-color:var(--yellow-dark);
  color:var(--white);
  border-radius:4px;
  font-size:var(--text-sm);
  font-family:Jakarta,sans-serif!important;
  padding:4px 8px
}
.inlinecode_pendingReviewBackground__g61ZV {
  background-color:var(--yellow-light);
  width:100%;
  height:100%;
  opacity:.2;
  border-radius:4px;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0
}
.shopitem_card__Zbbvh {
  margin-bottom:1rem;
  padding:1rem;
  border-radius:8px;
  overflow:hidden;
  width:100%;
  position:relative;
  display:-moz-box;
  display:flex;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column
}
.shopitem_remaining__e84Ey {
  background-color:var(--blue-dark);
  color:var(--white);
  border-radius:0 0 0 8px;
  font-family:Jakarta,sans-serif;
  font-weight:700;
  position:absolute;
  right:0;
  top:0;
  padding:.25rem .75rem;
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center;
  font-size:.8rem;
  opacity:.8;
  z-index:10
}
.shopitem_soldOut__3Q_35 {
  background-color:var(--red-dark);
  font-size:.8rem
}
.shopitem_cardContent__W5knG {
  display:-moz-box;
  display:flex
}
.shopitem_content__SZQrE {
  -moz-box-flex:1;
  flex:1 1;
  min-width:60%
}
.shopitem_image__uyCnW {
  margin-top:-1rem;
  margin-left:-1rem;
  width:-moz-calc(100% + 2rem);
  width:calc(100% + 2rem);
  max-height:400px;
  object-fit:contain
}
.shopitem_imageContainer__kGspX {
  height:300px;
  margin:-1rem -1rem 1rem;
  position:relative
}
@media screen and (max-width:768px) {
  .shopitem_imageContainer__kGspX {
  height:200px
}
}.shopitem_cta__CcxUN {
  margin-top:.5rem;
  display:-moz-box;
  display:flex
}
.shopitem_cta__CcxUN button {
  -moz-box-flex:1;
  flex:1 1
}
.shopitem_inlineInteractionImage__M8KKi {
  display:none
}
@media only screen and (max-width:1024px) {
  .shopitem_inlineInteractionImage__M8KKi {
  display:block;
  width:90%;
  margin:1rem auto
}
}.shopitem_inlineInteractionImage__M8KKi.shopitem_adaptiveInlineImage__tl5YW {
  display:block;
  width:60%;
  margin:1rem auto
}
.shopitem_description__dLKtN {
  -moz-box-flex:1;
  flex:1 1
}
.shopitem_gridImage__XqXKi {
  width:100%;
  height:100%;
  object-fit:cover;
  margin-bottom:.5rem
}
.image_imageContainer__htk4u {
  width:100%;
  height:0;
  padding-bottom:100%;
  position:relative
}
.image_image__QE4mK {
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
}
.customshopitem_placeholderTag__1lSjW {
  position:absolute;
  top:8px;
  left:8px;
  background-color:var(--white);
  border:1px solid var(--light-gray);
  border-radius:2px;
  font-size:var(--text-xs);
  font-weight:700;
  padding:4px 8px;
  z-index:2
}
.nft_container__ANJxE {
  display:-moz-box;
  display:flex;
  -moz-box-pack:center;
  justify-content:center;
  -moz-box-align:center;
  align-items:center;
  width:100%;
  margin:0 auto;
  position:relative;
  cursor:pointer
}
.nft_image__9L32Z {
  margin:0 auto;
  min-width:100%;
  width:100%;
  object-fit:contain;
  height:100%
}
.nft_metatag__KpHtK {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  opacity:0;
  padding:48px 16px 16px;
  background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.7)));
  background:-moz-linear-gradient(top,transparent 0,rgba(0,0,0,.7) 100%);
  background:linear-gradient(180deg,transparent,rgba(0,0,0,.7));
  max-height:50%;
  -webkit-transition:opacity .2s ease-in-out;
  -moz-transition:opacity .2s ease-in-out;
  transition:opacity .2s ease-in-out;
  color:var(--white)
}
@media(hover:hover) {
  .nft_container__ANJxE:hover .nft_metatag__KpHtK {
  opacity:1
}
}.nft_hoverText__PbVaW {
  color:var(--white);
  font-size:var(--text-sm)
}
.container_squareContainer__UJbcB {
  width:100%;
  height:0;
  padding-bottom:100%;
  position:relative
}
.container_container__J4bDF {
  display:-moz-box;
  display:flex;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column;
  position:absolute;
  overflow:hidden;
  top:0;
  right:0;
  bottom:0;
  left:0
}
.container_content__u_kcF {
  -moz-box-flex:1;
  flex:1 1;
  -moz-box-pack:center;
  justify-content:center;
  height:-moz-calc(100% - 6px);
  height:calc(100% - 6px);
  width:100%
}
.container_content__u_kcF,.editortoolbar_toolbarContainer__pU_k2 {
  background-color:var(--white);
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center
}
.editortoolbar_toolbarContainer__pU_k2 {
  border:1px solid var(--light-gray);
  -webkit-box-shadow:var(--small-shadow);
  box-shadow:var(--small-shadow);
  border-radius:4px;
  position:absolute;
  top:-8px;
  -webkit-transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  transform:translateY(-100%);
  font-size:var(--text-sm);
  z-index:100;
  cursor:pointer
}
.editortoolbar_blockButton__o6jFC {
  width:24px;
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center;
  -moz-box-pack:center;
  justify-content:center;
  line-height:30px;
  height:30px;
  color:var(--gray)
}
.editortoolbar_blockButton__o6jFC[data-active=true] {
  color:var(--blue-bright)
}
@media(hover:hover) {
  .editortoolbar_blockButton__o6jFC:hover {
  color:var(--blue-bright)
}
}.editortoolbar_textInput__FhQ9z {
  background-color:var(--bg-gray);
  border:1px solid var(--light-gray);
  border-radius:4px;
  padding:2px;
  font-size:var(--text-sm);
  margin:4px
}
.editortoolbar_button__WHllr,.editortoolbar_cancelButton__9Tacq {
  border:1px solid var(--light-gray);
  margin:4px 4px 4px 0;
  font-size:var(--text-xs);
  padding:4px;
  border-radius:4px;
  background-color:var(--white);
  font-weight:600
}
@media(hover:hover) {
  .editortoolbar_button__WHllr:hover,.editortoolbar_cancelButton__9Tacq:hover {
  background-color:var(--white-hover)
}
}.editortoolbar_mobileToolbar__93qM7 {
  position:fixed;
  top:114px;
  right:18px;
  left:18px;
  -webkit-transform:translate(0);
  -moz-transform:translate(0);
  transform:translate(0)
}
.editorv2_editorContainer__ZkDJa {
  overflow:visible;
  -moz-box-flex:1;
  flex:1 1;
  padding:16px 0;
  border-radius:4px;
  cursor:text
}
.editorv2_editorContainer__ZkDJa,.posts_mainPostContainer__wLbRy {
  position:relative;
  display:-moz-box;
  display:flex;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column
}
.posts_mainPostContainer__wLbRy {
  margin:0 auto 2rem;
  max-width:50rem;
  width:100%;
  border-radius:8px;
  border:1px solid var(--light-gray);
  overflow:hidden
}
@media(max-width:1024px) {
  .posts_mainPostContainer__wLbRy {
  width:100%;
  border-radius:0;
  -webkit-box-shadow:0 0 0 0;
  box-shadow:0 0 0 0
}
}.posts_editPostContainer__PWKn8 {
  background-color:var(--white);
  border:1px solid var(--blue-light);
  padding:4rem 2rem;
  margin:4rem 0;
  max-width:60rem;
  border-radius:1rem;
  -webkit-box-shadow:4px 4px 0 var(--blue-light);
  box-shadow:4px 4px 0 var(--blue-light)
}
@media only screen and (max-width:1024px) {
  .posts_editPostContainer__PWKn8 {
  padding:2rem 1rem;
  margin-top:6rem;
  width:90%;
  left:50%;
  -webkit-transform:translate(-50%);
  -moz-transform:translate(-50%);
  transform:translate(-50%);
  position:relative
}
}.posts_sectionContainer__LpmDc {
  background:#fff;
  border:1px solid #ddd;
  border-radius:3px;
  margin-top:2rem;
  padding:1rem
}
.posts_subheading__BKpWY {
  font-size:.8rem
}
.posts_postHeader__xpwGz,.posts_subheading__BKpWY {
  font-family:Jakarta,sans-serif;
  font-weight:700
}
.posts_postTime__lj0FP {
  font-family:Jakarta;
  font-weight:400;
  font-size:.8rem
}
.posts_postContainer__JvEjb {
  width:100%;
  margin:0 auto 1rem;
  background-color:var(--white);
  border:1px solid var(--light-gray)
}
.posts_postCard___1ZoC {
  position:relative;
  width:100%;
  display:-moz-box;
  display:flex;
  background-color:var(--white);
  border-bottom:1px solid var(--light-gray);
  padding:2rem 1rem
}
.posts_postCard__body__LIC7T {
  -moz-box-flex:1;
  flex:1 1
}
.posts_postCard__body__LIC7T::-webkit-scrollbar {
  display:none
}
.posts_postInlineImage__aHP_s {
  color:var(--blue-bright);
  max-height:20rem;
  max-width:100%;
  width:100%;
  height:auto;
  object-fit:contain;
  display:block
}
.posts_postImageContainer__UIAPK {
  width:40%;
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center;
  margin-left:1rem
}
@media only screen and (max-width:768px) {
  .posts_postImageContainer__UIAPK {
  display:none
}
}.posts_postVideoContainer__mAqBD {
  width:60%;
  height:auto;
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center;
  margin-left:1rem
}
@media only screen and (max-width:768px) {
  .posts_postVideoContainer__mAqBD {
  display:none
}
}.posts_postVideoContainerFull__rwRJ1 {
  width:100%;
  height:auto
}
.posts_lockedContainer__stKWy,.posts_postVideoContainerFull__rwRJ1 {
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center
}
.posts_lockedContainer__stKWy {
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column;
  -moz-box-pack:center;
  justify-content:center;
  padding:2rem 0;
  position:relative
}
.posts_postLinkDisplay__6vKY9 {
  width:50%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:2rem;
  background-color:var(--blue-white);
  border:1px solid var(--blue-light);
  border-radius:4px;
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content
}
.posts_lockedHero__9GBzF {
  background-color:var(--blue-white);
  border:1px solid var(--blue-light);
  display:-moz-box;
  display:flex
}
.posts_postImage__LdZJx {
  color:var(--blue-bright);
  width:100%;
  height:100%;
  object-fit:contain
}
.posts_noPostContainer__YfHBh {
  margin-top:1rem;
  text-align:center
}
.posts_heroImage__9OkA7 {
  border-radius:.25rem;
  margin-top:1rem;
  width:100%
}
.posts_titleSection__UQfI5 {
  margin-top:2rem
}
.posts_bodyTextEditor__knJtW>div {
  font-family:Jakarta
}
.posts_container__Iut6G {
  -moz-box-flex:1;
  flex:1 1;
  width:100%;
  max-width:728px
}
.posts_postBody__HhkKQ {
  margin-top:1rem
}
.posts_icon__uTKf8 {
  cursor:pointer;
  stroke-width:2;
  margin-right:.75rem
}
.posts_icon__highlighted__soxdQ {
  cursor:pointer;
  margin-right:.75rem
}
.posts_icon__highlighted__soxdQ,.posts_icon__uTKf8:hover {
  fill:var(--blue-bright)!important;
  stroke-width:4
}
.posts_contentTypeSelect__MfEDd {
  cursor:pointer;
  width:10rem;
  margin:.5rem 1rem;
  -webkit-transition-duration:.25s,.25s;
  -moz-transition-duration:.25s,.25s;
  transition-duration:.25s,.25s;
  -webkit-transition-timing-function:ease,ease;
  -moz-transition-timing-function:ease,ease;
  transition-timing-function:ease,ease;
  -webkit-transition-delay:0s,0s;
  -moz-transition-delay:0s,0s;
  transition-delay:0s,0s
}
.posts_contentTypeSelect__MfEDd:hover {
  background-color:var(--blue-white);
  -webkit-transform:translateY(-3px);
  -moz-transform:translateY(-3px);
  transform:translateY(-3px);
  font-family:Jakarta,sans-serif;
  font-weight:700;
  color:var(--blue-bright)
}
.posts_contentTypeSelect__MfEDd:hover svg {
  stroke-width:10
}
.posts_explainerText__CgI_Y {
  margin-left:.5rem;
  font-size:.8rem;
  color:#6c757d!important
}
.posts_fileIcon__g3SuQ {
  fill:var(--blue-bright)
}
.posts_fileContainer__3VkAb {
  display:-moz-box;
  display:flex;
  text-align:center;
  border:4px solid var(--blue-light);
  border-radius:4px;
  height:100%;
  padding:1rem 0;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column;
  -moz-box-pack:center;
  justify-content:center;
  font-family:Jakarta,sans-serif;
  font-weight:700;
  -webkit-transition:background-color .1s;
  -moz-transition:background-color .1s;
  transition:background-color .1s
}
.posts_fileContainer__3VkAb:hover {
  cursor:pointer;
  background-color:var(--blue-white)
}
.posts_fileContainer__3VkAb i {
  font-size:2rem;
  margin-bottom:.5rem
}
.posts_fileContainer__3VkAb>* {
  display:block
}
.style_rowItem__9jE6h {
  padding:1rem;
  border:1px solid var(--light-gray);
  border-radius:4px;
  margin-bottom:1rem;
  display:-moz-box;
  display:flex;
  -moz-box-pack:justify;
  justify-content:space-between;
  -moz-box-align:center;
  align-items:center
}
.style_menuItem__srH05 {
  color:var(--black);
  background-color:var(--light-gray);
  padding:.25rem .5rem;
  border-radius:50px;
  margin:.25rem 0;
  border:1px solid var(--light-gray)
}
.style_menuItem__srH05.style_active__DFvdW {
  background-color:var(--blue-white);
  border:1px solid var(--blue-light);
  color:var(--blue-bright)
}
@media(hover:hover) {
  .style_menuItem__srH05:hover {
  color:var(--blue-bright)
}
}.style_menuContainer__n5oLe {
  display:-moz-box;
  display:flex;
  white-space:nowrap;
  -moz-box-pack:start;
  justify-content:flex-start
}
.style_submenuContainer__kHukp {
  background-color:#f9f9f9;
  padding:1rem;
  margin:.5rem 0
}
.style_submenuContainer__kHukp,.style_submenuItem__bXXV9 {
  border-radius:4px;
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center;
  -moz-box-pack:center;
  justify-content:center
}
.style_submenuItem__bXXV9 {
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column;
  padding:.5rem;
  border:1px solid var(--light-gray);
  white-space:nowrap
}
.style_submenuItem__bXXV9 svg {
  height:64px;
  width:80px
}
.style_submenuItem__bXXV9:hover {
  color:var(--blue-bright);
  background-color:var(--blue-white);
  border:1px solid var(--blue-light)
}
.style_clickCatcher___J97V {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0
}
.style_resizeHandle__FBybx {
  margin-left:-1px
}
.style_navResizeHandle__xWps5,.style_resizeHandle__FBybx {
  width:12px;
  height:12px;
  border-radius:50%;
  background-color:var(--blue-bright);
  border:1px solid var(--white);
  top:50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  transform:translateY(-50%);
  position:absolute
}
.style_navResizeHandle__xWps5 {
  left:50%
}
.style_container__Pr7lX {
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center;
  margin:.5rem 0
}
.style_photoContainer__aJN4J {
  height:3rem;
  width:3rem
}
.style_photo__0Boio {
  width:100%;
  height:100%;
  border-radius:1.5rem;
  object-fit:cover
}
.style_textContainer__0Hxq_ {
  margin-left:1rem;
  -moz-box-flex:1;
  flex:1 1
}
.style_creatorName__PBS0X {
  font-family:Jakarta,sans-serif;
  font-weight:700;
  cursor:pointer;
  color:var(--black)
}
.style_creatorName__PBS0X:hover {
  text-decoration:underline
}
.style_small__7muKz,.style_subtext__yNXP5 {
  font-size:.8rem
}
.style_small__7muKz .style_photoContainer__aJN4J {
  height:2rem;
  width:2rem
}
.style_blockContainer__iVugj {
  display:-moz-box;
  display:flex;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column;
  -moz-box-pack:center;
  justify-content:center
}
.style_blockContainer__iVugj,.style_columnContainer__CzY82 {
  height:100%;
  width:100%;
  -webkit-transition:all .1s;
  -moz-transition:all .1s;
  transition:all .1s
}
.style_columnContainer__CzY82 {
  display:inherit
}
.style_columnDragIcon__nOPU_,.style_dragIcon__Xn2yY {
  opacity:0;
  position:absolute;
  top:8px;
  right:8px;
  height:32px;
  width:32px;
  cursor:-webkit-grab;
  cursor:-moz-grab;
  cursor:grab
}
.style_dragIcon__Xn2yY {
  z-index:10
}
.style_blockContainer__iVugj:hover .style_dragIcon__Xn2yY {
  opacity:1
}
.style_container__JT0KJ {
  background-color:var(--white)
}
.style_storyDataRow__qL5m2 {
  padding:.5rem 0
}
.style_actionRow__h_QZV {
  display:-moz-box;
  display:flex;
  -moz-box-pack:start;
  justify-content:flex-start;
  margin:.5rem .5rem 0;
  position:relative
}
.style_actionButton__Djpgc {
  color:var(--gray);
  margin:.5rem 2rem .5rem .5rem;
  -webkit-transition:color .1s;
  -moz-transition:color .1s;
  transition:color .1s;
  font-family:Jakarta,sans-serif;
  font-weight:700;
  white-space:nowrap
}
.style_actionButton__Djpgc:hover,.style_actionButton__Djpgc:hover .style_actionIcon__Ml_ZO {
  cursor:pointer;
  color:var(--blue-bright)
}
.style_actionIcon__Ml_ZO {
  color:var(--gray);
  -webkit-transition:color .1s;
  -moz-transition:color .1s;
  transition:color .1s;
  margin-right:.5rem
}
.style_activeButton__9izjd,.style_activeButton__9izjd .style_actionIcon__Ml_ZO {
  color:var(--red-bright)
}
.style_activeButton__9izjd:hover,.style_activeButton__9izjd:hover .style_actionIcon__Ml_ZO {
  color:var(--red-dark)!important
}
.style_commentList__8u_ug {
  padding:1rem
}
.style_commentInput__g7zzV {
  width:100%;
  padding:.5rem 5rem .5rem .5rem;
  background-color:var(--white);
  border:1px solid var(--light-gray);
  border-radius:1rem;
  position:absolute;
  font-size:.8rem;
  -webkit-transition:border .1s,-webkit-box-shadow .1s;
  transition:border .1s,-webkit-box-shadow .1s;
  -moz-transition:box-shadow .1s,border .1s;
  transition:box-shadow .1s,border .1s;
  transition:box-shadow .1s,border .1s,-webkit-box-shadow .1s;
  top:1rem;
  left:1rem;
  bottom:1rem;
  right:1rem
}
.style_commentInput__g7zzV:focus {
  border:1px solid var(--blue-light);
  -webkit-box-shadow:2px 2px 0 var(--blue-light);
  box-shadow:2px 2px 0 var(--blue-light)
}
.style_inputContainer__dnQvf {
  position:relative;
  padding:.5rem .25rem;
  width:-moz-calc(100% - 2rem);
  width:calc(100% - 2rem);
  height:4rem;
  font-size:.8rem
}
.style_postComment__PdhpD {
  position:absolute;
  right:0;
  top:50%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  transform:translateY(-50%);
  color:var(--blue-bright);
  font-family:Jakarta,sans-serif;
  font-weight:700;
  cursor:pointer;
  font-size:.8rem;
  text-align:right
}
.style_commentContainer__atovS {
  margin-bottom:1rem;
  display:-moz-box;
  display:flex
}
.style_commentContainer__atovS:last-of-type {
  margin-bottom:0
}
.style_commentPhoto__5wjMK {
  width:2rem;
  height:2rem;
  border-radius:1rem;
  margin:.5rem 1rem 0 0
}
.style_commentAuthor__PGxnL {
  font-size:.8rem;
  font-family:Jakarta,sans-serif;
  font-weight:700
}
.style_commentBody__odLEp {
  border-radius:8px;
  font-size:.8rem;
  background-color:var(--bg-gray);
  padding:.5rem;
  overflow-wrap:anywhere
}
.style_commentRightContainer__7VD4l {
  -moz-box-flex:1;
  flex:1 1
}
.style_commentDate__EZaiq {
  font-size:.64rem;
  color:var(--gray);
  margin-top:.25rem
}
.style_viewAllCommentsContainer___SdIC {
  display:-moz-box;
  display:flex;
  -moz-box-pack:center;
  justify-content:center
}
.style_optionsMenu__QSgM0 {
  position:absolute;
  top:1rem;
  right:1rem
}
.style_optionsToggle__0ePya {
  font-size:1.25rem;
  color:var(--gray);
  cursor:pointer;
  -webkit-transition:color .1s;
  -moz-transition:color .1s;
  transition:color .1s
}
.style_optionsToggle__0ePya:hover {
  color:var(--blue-bright)
}
.style_optionsToggle__0ePya:after {
  content:none
}
.style_shareTooltip__AxWjs {
  background-color:var(--white);
  -webkit-box-shadow:var(--small-shadow);
  box-shadow:var(--small-shadow);
  border:1px solid var(--light-gray);
  font-weight:400;
  border-radius:4px;
  padding:1rem;
  white-space:nowrap;
  color:var(--black)!important;
  margin:.5rem 1rem
}
.style_shareTooltip__AxWjs .style_shareSocial__Nm8wK {
  display:-moz-box;
  display:flex
}
.style_commentAuthContainer__XR3r1 {
  margin:0 1rem 1rem;
  font-size:.8rem;
  color:var(--blue-dark)
}
.style_commentAuthContainer__XR3r1 button {
  margin-left:.5rem
}
.style_shareIg__QBuWX {
  cursor:pointer
}
.linkitem_linkContainer__sh12s {
  background-color:var(--white);
  padding:1rem;
  border-radius:4px;
  border:1px solid var(--light-gray);
  display:-moz-box;
  display:flex;
  -moz-box-align:center;
  align-items:center
}
.linkitem_iframe__QAPAW {
  border-radius:4px
}
.linkitem_emoji__HZxNf {
  width:24px
}
.linkitem_imageIcon__YbCxg {
  width:24px;
  height:24px;
  object-fit:cover
}
.linkitem_iconContainer__FtMnp {
  width:2rem;
  opacity:0;
  display:none;
  text-align:center
}
.linkitem_iconContainer__FtMnp[data-active=true] {
  opacity:1;
  display:-moz-box;
  display:flex
}
.linkitem_iconContainer__FtMnp[data-block=true] {
  display:-moz-box;
  display:flex
}
.linkitem_gridIconContainer__hvAJp {
  width:2rem;
  height:2rem
}
@media(max-width:400px) {
  .musicplayer_bandcampIframe__dVJtX {
  width:95%!important
}
}.tiktokembed_gridContainer__hfhi8 {
  width:100%;
  height:205%;
  position:absolute;
  top:64%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}
.tiktokembed_tiktokContainer__NxvGc {
  margin:1rem auto;
  position:relative;
  overflow:hidden;
  z-index:1;
  width:300px;
  height:536px;
  border-radius:10px
}
.tiktokembed_tiktokIframe__vXMtv {
  height:400px;
  position:absolute;
  top:0;
  left:0;
  width:103%;
  height:117%;
  z-index:0;
  margin-left:-5px;
  margin-top:-3px
}
.membershipbutton_buttonWrapper__lmpXd {
  display:-moz-box;
  display:flex;
  -moz-box-pack:center;
  justify-content:center;
  margin:1rem auto
}
.style_shareUrl__KGJNe {
  display:-moz-box;
  display:flex;
  padding:.5rem;
  background-color:var(--white);
  border:1px solid var(--light-gray);
  border-radius:4px;
  -webkit-transition:border .1s;
  -moz-transition:border .1s;
  transition:border .1s
}
.style_shareUrl__KGJNe:hover {
  border:1px solid var(--blue-dark)
}
.style_shareUrl__KGJNe input {
  -moz-box-flex:1;
  flex:1 1;
  display:inline-block;
  color:var(--blue-dark);
  cursor:pointer;
  width:350px;
  font-size:.8rem
}
.style_shareUrl__KGJNe span {
  color:var(--blue-bright);
  cursor:pointer;
  font-family:Jakarta,sans-serif;
  font-weight:700
}
.style_shareButtonContainer__PrtdK {
  margin:1rem auto
}
.style_shareButton__BORx7 {
  margin:0 .25rem
}
.postpreview_postPreviewItem__Su1qw {
  font-size:.8rem;
  -moz-box-flex:1;
  flex:1 1;
  color:var(--black)
}
.postpreview_postPreviewItemContainer__PbpLe {
  background-color:var(--white);
  -webkit-box-shadow:0 4px 8px rgba(0,0,0,.05);
  box-shadow:0 4px 8px rgba(0,0,0,.05);
  padding:.5rem;
  border-radius:4px;
  border:1px solid var(--light-gray);
  cursor:pointer;
  overflow:hidden
}
.postpreview_postListContainer__UByGw,.postpreview_postPreviewItemContainer__PbpLe {
  margin-bottom:.5rem;
  display:-moz-box;
  display:flex;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  flex-direction:column
}
.postpreview_postPreviewImage__7vXf_ {
  max-height:200px;
  max-width:100px;
  margin:-.5rem -.5rem -.5rem 0
}
/*# sourceMappingURL=53164d5a2a701b9c.css.map*/